Bahram_Project/History/**
Bahram_Project/History/
Bahram_Project/Project Logs for Bahram_Project/
Bahram_Project/__Previews/
Code\DHT22_Sensor\Project Backups/**
Code\DHT11_Sensor\Project Backups/**
*.Zip
